@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

@font-face {
    font-family: 'breathing';
    src: url(./fonts/Breathing.ttf)
}

@font-face {
    font-family: 'azoSans';
    src: url(./fonts/AzoSans-Light.ttf);
}

@font-face {
    font-family: 'wo1';
    src: url(./fonts/W01Light.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    user-select: none;
    background-image: url(/bg.webp);
    background-color: rgba(40, 40, 40, 0.396);
    background-blend-mode: color;
    background-position: center;
    background-size: cover;
    font-family: "wo1";
}